doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel='stylesheet', href='styles/style.css')
    body
        h1
         "Tesltra 24x7 App"
    script(src= liveReloadScript)
