[class^="icon-"], [class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
 
  /* fix buttons height */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}
 
.icon-github-text { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;'); }
.icon-search-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81d;&nbsp;'); }
.icon-search-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea80;&nbsp;'); }
.icon-mail-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea81;&nbsp;'); }
.icon-heart-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea82;&nbsp;'); }
.icon-heart-broken { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea83;&nbsp;'); }
.icon-star-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea84;&nbsp;'); }
.icon-star-empty-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea85;&nbsp;'); }
.icon-star-half-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea86;&nbsp;'); }
.icon-star-half_empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea87;&nbsp;'); }
.icon-user-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea88;&nbsp;'); }
.icon-user-male { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea89;&nbsp;'); }
.icon-user-female { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8a;&nbsp;'); }
.icon-users-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8b;&nbsp;'); }
.icon-movie { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8c;&nbsp;'); }
.icon-videocam-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8d;&nbsp;'); }
.icon-isight { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8e;&nbsp;'); }
.icon-camera-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8f;&nbsp;'); }
.icon-menu-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea90;&nbsp;'); }
.icon-th-thumb { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea91;&nbsp;'); }
.icon-th-thumb-empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea92;&nbsp;'); }
.icon-th-list-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea93;&nbsp;'); }
.icon-ok-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea94;&nbsp;'); }
.icon-ok-circled-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea95;&nbsp;'); }
.icon-cancel-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea96;&nbsp;'); }
.icon-cancel-circled-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea97;&nbsp;'); }
.icon-plus-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea98;&nbsp;'); }
.icon-help-circled-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea99;&nbsp;'); }
.icon-help-circled-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9a;&nbsp;'); }
.icon-info-circled-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9b;&nbsp;'); }
.icon-info-circled-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9c;&nbsp;'); }
.icon-home-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9d;&nbsp;'); }
.icon-link-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9e;&nbsp;'); }
.icon-attach-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9f;&nbsp;'); }
.icon-lock-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa0;&nbsp;'); }
.icon-lock-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa1;&nbsp;'); }
.icon-lock-open-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa2;&nbsp;'); }
.icon-lock-open-alt-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa3;&nbsp;'); }
.icon-eye-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa4;&nbsp;'); }
.icon-download-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa5;&nbsp;'); }
.icon-upload-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa6;&nbsp;'); }
.icon-download-cloud-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa7;&nbsp;'); }
.icon-upload-cloud-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa8;&nbsp;'); }
.icon-reply-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa9;&nbsp;'); }
.icon-pencil-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaaa;&nbsp;'); }
.icon-export-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaab;&nbsp;'); }
.icon-print-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaac;&nbsp;'); }
.icon-retweet-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaad;&nbsp;'); }
.icon-comment-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaae;&nbsp;'); }
.icon-facebook { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaaf;&nbsp;'); }
.icon-facebook-rect { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab0;&nbsp;'); }
.icon-twitter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab1;&nbsp;'); }
.icon-twitter-bird { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab2;&nbsp;'); }
.icon-vimeo-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab3;&nbsp;'); }
.icon-vimeo-rect { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab4;&nbsp;'); }
.icon-tumblr { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab5;&nbsp;'); }
.icon-tumblr-rect { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab6;&nbsp;'); }
.icon-mail-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab7;&nbsp;'); }
.icon-heart-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab8;&nbsp;'); }
.icon-heart-empty-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab9;&nbsp;'); }
.icon-star-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaba;&nbsp;'); }
.icon-user-8 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeabb;&nbsp;'); }
.icon-video-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeabc;&nbsp;'); }
.icon-picture-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeabd;&nbsp;'); }
.icon-th-large-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeabe;&nbsp;'); }
.icon-th-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeabf;&nbsp;'); }
.icon-th-list-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac0;&nbsp;'); }
.icon-ok-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac1;&nbsp;'); }
.icon-ok-circle-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac2;&nbsp;'); }
.icon-cancel-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac3;&nbsp;'); }
.icon-cancel-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac4;&nbsp;'); }
.icon-plus-circle-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac5;&nbsp;'); }
.icon-minus-circle-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac6;&nbsp;'); }
.icon-link-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac7;&nbsp;'); }
.icon-attach-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac8;&nbsp;'); }
.icon-lock-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac9;&nbsp;'); }
.icon-lock-open-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaca;&nbsp;'); }
.icon-tag-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeacb;&nbsp;'); }
.icon-reply-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeacc;&nbsp;'); }
.icon-reply-all-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeacd;&nbsp;'); }
.icon-forward-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeace;&nbsp;'); }
.icon-code-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeacf;&nbsp;'); }
.icon-retweet-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead0;&nbsp;'); }
.icon-comment-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead1;&nbsp;'); }
.icon-comment-alt-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead2;&nbsp;'); }
.icon-chat-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead3;&nbsp;'); }
.icon-attention-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead4;&nbsp;'); }
.icon-location-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead5;&nbsp;'); }
.icon-doc-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead6;&nbsp;'); }
.icon-docs-landscape { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead7;&nbsp;'); }
.icon-folder-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead8;&nbsp;'); }
.icon-archive-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead9;&nbsp;'); }
.icon-rss-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeada;&nbsp;'); }
.icon-search-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeadb;&nbsp;'); }
.icon-mail-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeadc;&nbsp;'); }
.icon-heart-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeadd;&nbsp;'); }
.icon-star-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeade;&nbsp;'); }
.icon-user-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeadf;&nbsp;'); }
.icon-user-woman { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae0;&nbsp;'); }
.icon-user-pair { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae1;&nbsp;'); }
.icon-video-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae2;&nbsp;'); }
.icon-rss-alt-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae3;&nbsp;'); }
.icon-cog-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae4;&nbsp;'); }
.icon-github-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae5;&nbsp;'); }
.icon-skype { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae6;&nbsp;'); }
.icon-icq { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae7;&nbsp;'); }
.icon-yandex { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae8;&nbsp;'); }
.icon-yandex-rect { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae9;&nbsp;'); }
.icon-vkontakte-rect { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaea;&nbsp;'); }
.icon-odnoklassniki { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaeb;&nbsp;'); }
.icon-odnoklassniki-rect { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaec;&nbsp;'); }
.icon-friendfeed { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaed;&nbsp;'); }
.icon-friendfeed-rect { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaee;&nbsp;'); }
.icon-blogger { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaef;&nbsp;'); }
.icon-blogger-rect { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf0;&nbsp;'); }
.icon-deviantart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf1;&nbsp;'); }
.icon-jabber { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf2;&nbsp;'); }
.icon-lastfm { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf3;&nbsp;'); }
.icon-lastfm-rect { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf4;&nbsp;'); }
.icon-linkedin { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf5;&nbsp;'); }
.icon-linkedin-rect { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf6;&nbsp;'); }
.icon-picasa { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf7;&nbsp;'); }
.icon-wordpress { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf8;&nbsp;'); }
.icon-instagram { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf9;&nbsp;'); }
.icon-instagram-filled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeafa;&nbsp;'); }
.icon-diigo { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeafb;&nbsp;'); }
.icon-box-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeafc;&nbsp;'); }
.icon-box-rect { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeafd;&nbsp;'); }
.icon-tudou { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeafe;&nbsp;'); }
.icon-youku { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaff;&nbsp;'); }
.icon-win8 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb00;&nbsp;'); }
.icon-amex { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb01;&nbsp;'); }
.icon-discover { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb02;&nbsp;'); }
.icon-visa { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb03;&nbsp;'); }
.icon-mastercard { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb04;&nbsp;'); }
.icon-houzz { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb05;&nbsp;'); }
.icon-bandcamp { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb06;&nbsp;'); }
.icon-codepen { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb07;&nbsp;'); }
.icon-videocam-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb08;&nbsp;'); }
.icon-videocam-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb09;&nbsp;'); }
.icon-logout-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb0a;&nbsp;'); }
.icon-clock-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb0b;&nbsp;'); }
.icon-block-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb0c;&nbsp;'); }
.icon-resize-full-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb0d;&nbsp;'); }
.icon-resize-full-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb0e;&nbsp;'); }
.icon-popup-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb0f;&nbsp;'); }
.icon-left-open-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb10;&nbsp;'); }
.icon-right-open-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb11;&nbsp;'); }
.icon-down-circle-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb12;&nbsp;'); }
.icon-left-circle-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb13;&nbsp;'); }
.icon-right-circle-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb14;&nbsp;'); }
.icon-up-circle-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb15;&nbsp;'); }
.icon-down-dir-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb16;&nbsp;'); }
.icon-right-dir-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb17;&nbsp;'); }
.icon-down-micro { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb18;&nbsp;'); }
.icon-up-micro { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb19;&nbsp;'); }
.icon-cw-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb1a;&nbsp;'); }
.icon-arrows-cw-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb1b;&nbsp;'); }
.icon-updown-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb1c;&nbsp;'); }
.icon-target-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb1d;&nbsp;'); }
.icon-signal-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb1e;&nbsp;'); }
.icon-progress-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb1f;&nbsp;'); }
.icon-progress-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb20;&nbsp;'); }
.icon-progress-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb21;&nbsp;'); }
.icon-progress-7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb22;&nbsp;'); }
.icon-progress-8 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb23;&nbsp;'); }
.icon-progress-9 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb24;&nbsp;'); }
.icon-progress-10 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb25;&nbsp;'); }
.icon-progress-11 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb26;&nbsp;'); }
.icon-font { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb27;&nbsp;'); }
.icon-list-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb28;&nbsp;'); }
.icon-list-numbered { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb29;&nbsp;'); }
.icon-indent-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb2a;&nbsp;'); }
.icon-indent-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb2b;&nbsp;'); }
.icon-cloud-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb2c;&nbsp;'); }
.icon-terminal { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb2d;&nbsp;'); }
.icon-facebook-rect-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb2e;&nbsp;'); }
.icon-twitter-bird-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb2f;&nbsp;'); }
.icon-vimeo-rect-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb30;&nbsp;'); }
.icon-tumblr-rect-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb31;&nbsp;'); }
.icon-googleplus-rect-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb32;&nbsp;'); }
.icon-linkedin-rect-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb33;&nbsp;'); }
.icon-skype-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb34;&nbsp;'); }
.icon-vkontakte-rect-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb35;&nbsp;'); }
.icon-youtube { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb36;&nbsp;'); }
.icon-odnoklassniki-rect-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb37;&nbsp;'); }
.icon-camera-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb5c;&nbsp;'); }
.icon-th-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb5d;&nbsp;'); }
.icon-th-list-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb5e;&nbsp;'); }
.icon-ok-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb5f;&nbsp;'); }
.icon-cancel-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb60;&nbsp;'); }
.icon-cancel-circle-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb61;&nbsp;'); }
.icon-plus-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb62;&nbsp;'); }
.icon-home-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb63;&nbsp;'); }
.icon-lock-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb64;&nbsp;'); }
.icon-lock-open-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb65;&nbsp;'); }
.icon-eye-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb66;&nbsp;'); }
.icon-tag-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb67;&nbsp;'); }
.icon-thumbs-up-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb68;&nbsp;'); }
.icon-thumbs-down-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb69;&nbsp;'); }
.icon-download-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb6a;&nbsp;'); }
.icon-export-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb6b;&nbsp;'); }
.icon-pencil-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb6c;&nbsp;'); }
.icon-pencil-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb6d;&nbsp;'); }
.icon-edit-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb6e;&nbsp;'); }
.icon-chat-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb6f;&nbsp;'); }
.icon-print-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb70;&nbsp;'); }
.icon-bell-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb71;&nbsp;'); }
.icon-attention-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb72;&nbsp;'); }
.icon-info-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb73;&nbsp;'); }
.icon-question { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb74;&nbsp;'); }
.icon-location-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb75;&nbsp;'); }
.icon-trash-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb76;&nbsp;'); }
.icon-doc-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb77;&nbsp;'); }
.icon-article { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb78;&nbsp;'); }
.icon-article-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb79;&nbsp;'); }
.icon-rss-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb7a;&nbsp;'); }
.icon-wrench-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb7b;&nbsp;'); }
.icon-basket-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb7c;&nbsp;'); }
.icon-basket-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb7d;&nbsp;'); }
.icon-calendar-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb7e;&nbsp;'); }
.icon-calendar-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb7f;&nbsp;'); }
.icon-volume-off-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb80;&nbsp;'); }
.icon-volume-down-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb81;&nbsp;'); }
.icon-volume-up-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb82;&nbsp;'); }
.icon-bullhorn { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb83;&nbsp;'); }
.icon-clock-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb84;&nbsp;'); }
.icon-search-7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb8b;&nbsp;'); }
.icon-mail-7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb8c;&nbsp;'); }
.icon-heart-7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb8d;&nbsp;'); }
.icon-heart-empty-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb8e;&nbsp;'); }
.icon-star-7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb8f;&nbsp;'); }
.icon-clock-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebdd;&nbsp;'); }
.icon-stop-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebde;&nbsp;'); }
.icon-resize-full-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebdf;&nbsp;'); }
.icon-resize-small-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebe0;&nbsp;'); }
.icon-zoom-in-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebe1;&nbsp;'); }
.icon-zoom-out-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebe2;&nbsp;'); }
.icon-popup-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebe3;&nbsp;'); }
.icon-down-dir-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebe4;&nbsp;'); }
.icon-left-dir-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebe5;&nbsp;'); }
.icon-right-dir-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebe6;&nbsp;'); }
.icon-up-dir-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebe7;&nbsp;'); }
.icon-down-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebe8;&nbsp;'); }
.icon-up-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebe9;&nbsp;'); }
.icon-cw-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebea;&nbsp;'); }
.icon-signal-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebeb;&nbsp;'); }
.icon-award { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebec;&nbsp;'); }
.icon-mobile-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebed;&nbsp;'); }
.icon-mobile-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebee;&nbsp;'); }
.icon-tablet-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebef;&nbsp;'); }
.icon-ipod { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebf0;&nbsp;'); }
.icon-cd-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebf1;&nbsp;'); }
.icon-grid { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebf2;&nbsp;'); }
.icon-book-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebf3;&nbsp;'); }
.icon-easel { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebf4;&nbsp;'); }
.icon-globe-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebf5;&nbsp;'); }
.icon-chart-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebf6;&nbsp;'); }
.icon-chart-bar-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebf7;&nbsp;'); }
.icon-chart-pie-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebf8;&nbsp;'); }
.icon-dollar-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebf9;&nbsp;'); }
.icon-at { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebfa;&nbsp;'); }
.icon-colon { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebfb;&nbsp;'); }
.icon-semicolon { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebfc;&nbsp;'); }
.icon-squares { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebfd;&nbsp;'); }
.icon-money-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebfe;&nbsp;'); }
.icon-facebook-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xebff;&nbsp;'); }
.icon-facebook-rect-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec00;&nbsp;'); }
.icon-twitter-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec01;&nbsp;'); }
.icon-twitter-bird-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec02;&nbsp;'); }
.icon-twitter-rect { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec03;&nbsp;'); }
.icon-youtube-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec04;&nbsp;'); }
.icon-chat-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec05;&nbsp;'); }
.icon-bell-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec06;&nbsp;'); }
.icon-attention-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec07;&nbsp;'); }
.icon-attention-alt-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec08;&nbsp;'); }
.icon-location-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec09;&nbsp;'); }
.icon-trash-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec0a;&nbsp;'); }
.icon-doc-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec0b;&nbsp;'); }
.icon-newspaper-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec0c;&nbsp;'); }
.icon-folder-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec0d;&nbsp;'); }
.icon-folder-open-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec0e;&nbsp;'); }
.icon-folder-empty-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec0f;&nbsp;'); }
.icon-folder-open-empty-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec10;&nbsp;'); }
.icon-cog-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec11;&nbsp;'); }
.icon-calendar-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec12;&nbsp;'); }
.icon-login-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec13;&nbsp;'); }
.icon-logout-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec14;&nbsp;'); }
.icon-mic-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec15;&nbsp;'); }
.icon-mic-off { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec16;&nbsp;'); }
.icon-clock-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec17;&nbsp;'); }
.icon-stopwatch-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec18;&nbsp;'); }
.icon-hourglass-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec19;&nbsp;'); }
.icon-zoom-in-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec1a;&nbsp;'); }
.icon-zoom-out-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec1b;&nbsp;'); }
.icon-down-open-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec1c;&nbsp;'); }
.icon-left-open-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec1d;&nbsp;'); }
.icon-right-open-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec1e;&nbsp;'); }
.icon-up-open-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec1f;&nbsp;'); }
.icon-down-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec20;&nbsp;'); }
.icon-left-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec21;&nbsp;'); }
.icon-right-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec22;&nbsp;'); }
.icon-up-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec23;&nbsp;'); }
.icon-down-bold-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec24;&nbsp;'); }
.icon-left-bold-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec25;&nbsp;'); }
.icon-right-bold-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec26;&nbsp;'); }
.icon-up-bold-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec27;&nbsp;'); }
.icon-down-fat { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec28;&nbsp;'); }
.icon-left-fat { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec29;&nbsp;'); }
.icon-right-fat { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec2a;&nbsp;'); }
.icon-up-fat { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec2b;&nbsp;'); }
.icon-ccw-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec2c;&nbsp;'); }
.icon-shuffle-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec2d;&nbsp;'); }
.icon-play-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec2e;&nbsp;'); }
.icon-pause-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec2f;&nbsp;'); }
.icon-stop-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec30;&nbsp;'); }
.icon-to-end-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec31;&nbsp;'); }
.icon-to-start-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec32;&nbsp;'); }
.icon-fast-forward-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec33;&nbsp;'); }
.icon-fast-backward-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec34;&nbsp;'); }
.icon-trophy-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec35;&nbsp;'); }
.icon-monitor-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec36;&nbsp;'); }
.icon-tablet-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec37;&nbsp;'); }
.icon-mobile-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec38;&nbsp;'); }
.icon-data-science { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec39;&nbsp;'); }
.icon-data-science-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec3a;&nbsp;'); }
.icon-inbox-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec3b;&nbsp;'); }
.icon-globe-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec3c;&nbsp;'); }
.icon-globe-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec3d;&nbsp;'); }
.icon-flash-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec3e;&nbsp;'); }
.icon-cloud-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec3f;&nbsp;'); }
.icon-coverflow { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xec40;&nbsp;'); }
.icon-coverflow-empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedb5;&nbsp;'); }
.icon-math { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedb6;&nbsp;'); }
.icon-math-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedb7;&nbsp;'); }
.icon-math-circled-empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedb8;&nbsp;'); }
.icon-paper-plane-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedb9;&nbsp;'); }
.icon-paper-plane-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedba;&nbsp;'); }
.icon-paper-plane-alt2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedbb;&nbsp;'); }
.icon-fontsize { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedbc;&nbsp;'); }
.icon-color-adjust { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedbd;&nbsp;'); }
.icon-fire-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedbe;&nbsp;'); }
.icon-chart-bar-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedbf;&nbsp;'); }
.icon-hdd-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedc0;&nbsp;'); }
.icon-connected-object { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedc1;&nbsp;'); }
.icon-ruler { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedc2;&nbsp;'); }
.icon-vector { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedc3;&nbsp;'); }
.icon-vector-pencil { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedc4;&nbsp;'); }
.icon-at-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedc5;&nbsp;'); }
.icon-hash { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedc6;&nbsp;'); }
.icon-female-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedc7;&nbsp;'); }
.icon-male-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedc8;&nbsp;'); }
.icon-spread { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedc9;&nbsp;'); }
.icon-king { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedca;&nbsp;'); }
.icon-anchor-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedcb;&nbsp;'); }
.icon-joystick { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedcc;&nbsp;'); }
.icon-spinner1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedcd;&nbsp;'); }
.icon-spinner2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedce;&nbsp;'); }
.icon-github-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedcf;&nbsp;'); }
.icon-github-circled-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedd0;&nbsp;'); }
.icon-github-circled-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedd1;&nbsp;'); }
.icon-github-circled-alt2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedd2;&nbsp;'); }
.icon-twitter-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedd3;&nbsp;'); }
.icon-twitter-circled-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedd4;&nbsp;'); }
.icon-facebook-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedd5;&nbsp;'); }
.icon-facebook-circled-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedd6;&nbsp;'); }
.icon-gplus-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedd7;&nbsp;'); }
.icon-gplus-circled-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedd8;&nbsp;'); }
.icon-linkedin-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedd9;&nbsp;'); }
.icon-linkedin-circled-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedda;&nbsp;'); }
.icon-dribbble-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeddb;&nbsp;'); }
.icon-dribbble-circled-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeddc;&nbsp;'); }
.icon-instagram-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeddd;&nbsp;'); }
.icon-instagram-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xedde;&nbsp;'); }
.icon-soundcloud-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee0f;&nbsp;'); }
.icon-soundcloud-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee10;&nbsp;'); }
.icon-mfg-logo { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee11;&nbsp;'); }
.icon-mfg-logo-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee12;&nbsp;'); }
.icon-googleplus-rect { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee3b;&nbsp;'); }
.icon-user-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee7a;&nbsp;'); }
.icon-video-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee7b;&nbsp;'); }
.icon-picture-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee7c;&nbsp;'); }
.icon-camera-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee7d;&nbsp;'); }
.icon-ok-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee7e;&nbsp;'); }
.icon-ok-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee7f;&nbsp;'); }
.icon-cancel-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee80;&nbsp;'); }
.icon-cancel-circle-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee81;&nbsp;'); }
.icon-plus-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee82;&nbsp;'); }
.icon-plus-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee83;&nbsp;'); }
.icon-minus-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee84;&nbsp;'); }
.icon-minus-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee85;&nbsp;'); }
.icon-help-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee86;&nbsp;'); }
.icon-info-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee87;&nbsp;'); }
.icon-home-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee88;&nbsp;'); }
.icon-link-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee89;&nbsp;'); }
.icon-attach-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee8a;&nbsp;'); }
.icon-lock-7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee8b;&nbsp;'); }
.icon-lock-empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee8c;&nbsp;'); }
.icon-lock-open-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee8d;&nbsp;'); }
.icon-lock-open-empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee8e;&nbsp;'); }
.icon-pin-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee8f;&nbsp;'); }
.icon-eye-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee90;&nbsp;'); }
.icon-tag-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee91;&nbsp;'); }
.icon-tag-empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee92;&nbsp;'); }
.icon-download-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee93;&nbsp;'); }
.icon-upload-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee94;&nbsp;'); }
.icon-download-cloud-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee95;&nbsp;'); }
.icon-upload-cloud-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee96;&nbsp;'); }
.icon-quote-left-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee97;&nbsp;'); }
.icon-quote-right-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee98;&nbsp;'); }
.icon-quote-left-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee99;&nbsp;'); }
.icon-quote-right-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee9a;&nbsp;'); }
.icon-pencil-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee9b;&nbsp;'); }
.icon-pencil-neg { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee9c;&nbsp;'); }
.icon-pencil-alt-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee9d;&nbsp;'); }
.icon-undo { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee9e;&nbsp;'); }
.icon-comment-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xee9f;&nbsp;'); }
.icon-comment-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeea0;&nbsp;'); }
.icon-comment-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeea1;&nbsp;'); }
.icon-comment-inv-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeea2;&nbsp;'); }
.icon-comment-alt2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeea3;&nbsp;'); }
.icon-comment-inv-alt2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeea4;&nbsp;'); }
.icon-chat-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeea5;&nbsp;'); }
.icon-chat-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeea6;&nbsp;'); }
.icon-location-7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeea7;&nbsp;'); }
.icon-location-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeea8;&nbsp;'); }
.icon-location-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeea9;&nbsp;'); }
.icon-compass-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeaa;&nbsp;'); }
.icon-trash-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeab;&nbsp;'); }
.icon-trash-empty-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeac;&nbsp;'); }
.icon-doc-7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeead;&nbsp;'); }
.icon-doc-inv-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeae;&nbsp;'); }
.icon-doc-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeaf;&nbsp;'); }
.icon-doc-inv-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb0;&nbsp;'); }
.icon-article-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb1;&nbsp;'); }
.icon-article-alt-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb2;&nbsp;'); }
.icon-book-open-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb3;&nbsp;'); }
.icon-folder-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb4;&nbsp;'); }
.icon-folder-empty-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb5;&nbsp;'); }
.icon-box-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb6;&nbsp;'); }
.icon-rss-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb7;&nbsp;'); }
.icon-rss-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb8;&nbsp;'); }
.icon-cog-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeb9;&nbsp;'); }
.icon-wrench-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeba;&nbsp;'); }
.icon-share-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeebb;&nbsp;'); }
.icon-calendar-7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeebc;&nbsp;'); }
.icon-calendar-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeebd;&nbsp;'); }
.icon-calendar-alt-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeebe;&nbsp;'); }
.icon-mic-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeebf;&nbsp;'); }
.icon-volume-off-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeec0;&nbsp;'); }
.icon-volume-up-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeec1;&nbsp;'); }
.icon-headphones-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeec2;&nbsp;'); }
.icon-clock-7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeec3;&nbsp;'); }
.icon-lamp-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeec4;&nbsp;'); }
.icon-block-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeec5;&nbsp;'); }
.icon-resize-full-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeec6;&nbsp;'); }
.icon-resize-full-alt-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeec7;&nbsp;'); }
.icon-resize-small-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeec8;&nbsp;'); }
.icon-resize-small-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeec9;&nbsp;'); }
.icon-resize-vertical-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeca;&nbsp;'); }
.icon-resize-horizontal-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeecb;&nbsp;'); }
.icon-move-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeecc;&nbsp;'); }
.icon-popup-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeecd;&nbsp;'); }
.icon-down-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeece;&nbsp;'); }
.icon-left-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeecf;&nbsp;'); }
.icon-right-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeed0;&nbsp;'); }
.icon-up-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeed1;&nbsp;'); }
.icon-down-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeed2;&nbsp;'); }
.icon-left-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeed3;&nbsp;'); }
.icon-right-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeed4;&nbsp;'); }
.icon-up-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeed5;&nbsp;'); }
.icon-cw-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeed6;&nbsp;'); }
.icon-loop-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeed7;&nbsp;'); }
.icon-loop-alt-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeed8;&nbsp;'); }
.icon-exchange-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeed9;&nbsp;'); }
.icon-split { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeda;&nbsp;'); }
.icon-arrow-curved { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeedb;&nbsp;'); }
.icon-play-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeedc;&nbsp;'); }
.icon-play-circle2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeedd;&nbsp;'); }
.icon-stop-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeede;&nbsp;'); }
.icon-pause-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeedf;&nbsp;'); }
.icon-to-start-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeee0;&nbsp;'); }
.icon-to-end-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeee1;&nbsp;'); }
.icon-eject-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeee2;&nbsp;'); }
.icon-target-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeee3;&nbsp;'); }
.icon-signal-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeee4;&nbsp;'); }
.icon-award-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeee5;&nbsp;'); }
.icon-award-empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeee6;&nbsp;'); }
.icon-list-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeee7;&nbsp;'); }
.icon-list-nested { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeee8;&nbsp;'); }
.icon-bat-empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeee9;&nbsp;'); }
.icon-bat-half { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeea;&nbsp;'); }
.icon-bat-full { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeeb;&nbsp;'); }
.icon-bat-charge { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeec;&nbsp;'); }
.icon-mobile-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeed;&nbsp;'); }
.icon-cd-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeee;&nbsp;'); }
.icon-equalizer { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeef;&nbsp;'); }
.icon-cursor { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeef0;&nbsp;'); }
.icon-aperture { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeef1;&nbsp;'); }
.icon-aperture-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeef2;&nbsp;'); }
.icon-steering-wheel { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeef3;&nbsp;'); }
.icon-book-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeef4;&nbsp;'); }
.icon-book-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeef5;&nbsp;'); }
.icon-brush-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeef6;&nbsp;'); }
.icon-brush-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeef7;&nbsp;'); }
.icon-eyedropper { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeef8;&nbsp;'); }
.icon-layers { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeef9;&nbsp;'); }
.icon-layers-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeefa;&nbsp;'); }
.icon-sun { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeefb;&nbsp;'); }
.icon-sun-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeefc;&nbsp;'); }
.icon-cloud-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeefd;&nbsp;'); }
.icon-rain { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeefe;&nbsp;'); }
.icon-flash-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeeff;&nbsp;'); }
.icon-moon-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xef00;&nbsp;'); }
.icon-moon-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xef01;&nbsp;'); }
.icon-umbrella { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xef02;&nbsp;'); }
.icon-chart-bar-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xef03;&nbsp;'); }
.icon-chart-pie-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xef04;&nbsp;'); }
.icon-chart-pie-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xef05;&nbsp;'); }
.icon-key-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xef06;&nbsp;'); }
.icon-key-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xef07;&nbsp;'); }
.icon-hash-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xef08;&nbsp;'); }
.icon-at-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xef09;&nbsp;'); }
.icon-pilcrow { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xef0a;&nbsp;'); }
.icon-dial { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xef0b;&nbsp;'); }